@*Burası Newsletter veya subsrice mail*@
<div class="tech-btm">
	<div class="tech-btm">
		<img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
	</div>
	<h4>Blog Bildirimlerimizi Alın</h4>
	<p>Türkiyenin en canlı blog kanalı</p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abone Ol" href="/Blog/BlogIndex">
	</form>
</div>
